body
{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.activitycal
{
	font-size: 20px;
	font-weight: bolder;
	color: #173a51;
	text-decoration: underline;
}
.des
{
	font-size: 14px;
	color: #2b8fd1;
}


.days
{
	display:inline-table;
	width:45%;
	margin-left: 5%;
	text-align: justify;
	font-family: 'BioRhyme', serif;
	text-indent: 2em;
}

.header
{
	background-color: #5898d0;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	
}

.even
{
	background-color: #e8e8f0;
	font-size: 18px;
}

.odd
{
	background-color: #d0d8e8;
	font-size: 18px;
}
.dates
{
	
	float:right;
	width: 44%;
	margin-right: 3%;
	text-align: left;
	font-family: 'BioRhyme', serif;
	text-indent: 1.5em;
}

.imp
{
	font-weight: bolder;
}

.thanks
{
	
}